<nav class="navbar navbar-default " role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <div class="visible-lg">&nbsp;</div>
          <a href="{:U('home/index')}" class="navbar-brand"><i class="icon-leaf"></i>{:get_system_config("SYSTEM_NAME")}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-6">
          <ul class="nav navbar-nav navbar-right">
				<foreach name="top_menu" item="top_menu_vo">
				<a class="btn btn-app btn-success btn-xs"  href="#" url="{:U($top_menu_vo['url'])}" node="{$top_menu_vo.id}" onclick="click_top_menu(this)" style="margin-top:15px;margin-bottom:20px;margin-left:7px;">
					<i class="{$top_menu_vo.icon} bigger-100"></i>
						{$top_menu_vo.name}
					<php>
						$new_count_module=get_module($top_menu_vo['url']);
						$module_count=$new_count[$new_count_module];
						if($module_count>99){
							$module_count="+99";
						}
						if($module_count==0){
							$module_count=null;
						}
						</php>
						<notempty name="module_count">
							<span class="badge badge-pink">{$module_count}</span>
						</notempty>					
				</a>&nbsp;&nbsp;
				</foreach><a class="btn btn-app btn-danger btn-xs" style="margin-top:15px;margin-bottom:20px;margin-left:7px;margin-right:10px;" href="{:U('login/logout')}" >
					<i class="icon-off bigger-100"></i>
						退出
				</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>