


<div id="push_msg"></div>
<iframe src="{:U('push/client2')}" class="push" id="push"></iframe>

<!-- basic scripts -->

<!--[if !IE]>
-->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/js/jquery-2.1.0.min.js'>" + "<" + "/script>");</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/js/jquery-1.11.0.min.js'>"+"<"+"/script>");</script>
<![endif]-->

<script src="__PUBLIC__/js/idangerous.swiper-2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/typeahead-bs2.min.js"></script>

<script src="__PUBLIC__/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/js/date-time/moment.min.js"></script>
<script src="__PUBLIC__/js/date-time/daterangepicker.min.js"></script>

<script src="__PUBLIC__/js/dropzone.min.js"></script>

<include file="Widget:plugin"/>

<!-- ace scripts -->
<script src="__PUBLIC__/js/uncompressed/ace-elements.js"></script>
<script src="__PUBLIC__/js/uncompressed/ace.js"></script>
<script src="__PUBLIC__/js/common.js"></script>

<!-- aeropms js脚本 added by MobiuS@2016.05.31 -->
<script src="__PUBLIC__/js/aeropms_common.js"></script>

<!--包含Tpl模块/js目录下的脚本-->
<include file="$js_file" />



